<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Danh Sách Sản Phẩm | Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/main.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

</head>

<body class="app sidebar-mini rtl">
<body class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="app-header">
    <!-- Sidebar toggle button-->
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
        <!-- User Menu-->
        <li><a class="app-nav__item" href="/index.html"><i class='bx bx-log-out bx-rotate-180'></i> </a>

        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" th:src="@{/admin/images/em.jpg}" width="50px"
                                        alt="User Image">
        <div>
            <p class="app-sidebar__user-name"><b>Admin</b></p>
            <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
        </div>
    </div>
    <hr>
    <ul class="app-menu">
        <li><a class="app-menu__item " href="table-data-table.html"><i class='app-menu__icon bx bx-id-card'></i>
            <span class="app-menu__label">Quản Lý Nhân Viên</span></a></li>
        <li><a class="app-menu__item" href="#"><i class='app-menu__icon bx bx-user-voice'></i>
            <span class="app-menu__label">Quản Lý Khách Hàng</span></a>
        </li>
        <li><a class="app-menu__item" th:href="@{/admin/producs}">
            <i class='app-menu__icon bx bx-purchase-tag-alt'></i>
            <span class="app-menu__label active ">Quản Lý Sản Phẩm</span></a></li>
        <li><a class="app-menu__item" th:href="@{/admin/product/list}"><i class='app-menu__icon bx bx-task'></i><span
                class="app-menu__label">Quản Lý Đơn Hàng</span></a></li>
        <li><a class="app-menu__item" th:href="@{/admin/categories}"><i class='app-menu__icon bx bx-task'></i><span
                class="app-menu__label">Quản Lý Danh Mục </span></a></li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">Quản Lý Sản Phẩm</li>
            <li class="breadcrumb-item"><a href="#">Tạo mới</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">
                    <a href="#">
                        <span th:if="${product.isCheck}">Cập Nhật Sản Phẩm</span>
                        <span th:unless="${product.isCheck}">Thêm Mới Sản Phẩm</span>
                    </a>
                </h3>
                <div class="tile-body">
                    <form method="post" th:action="@{/admin/products/save}" enctype="multipart/form-data"
                          th:object="${product}">
                        <div class="row">
                            <input class="form-control" type="hidden" th:field="*{id}">
                            <input class="form-control" type="hidden" th:field="*{isCheck}">
                            <div class="form-group col-md-4">
                                <label class="control-label">Tên Sản Phẩm</label>
                                <input class="form-control" type="text" th:field="*{name}">
                                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                                    Error
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Số Lượng</label>
                                <input class="form-control" type="text" th:field="*{quantity}">
                                <div class="text-danger" th:if="${#fields.hasErrors('quantity')}"
                                     th:errors="*{quantity}">Quantity Error
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Giá Tiền</label>
                                <input class="form-control" type="text" th:field="*{price}">
                                <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
                                    Price Error
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Giảm Giá </label>
                                <input class="form-control" type="text" th:field="*{discount}">
                                <div class="text-danger" th:if="${#fields.hasErrors('discount')}"
                                     th:errors="*{discount}">Discount Error
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Danh Mục</label>
                                <select class="form-control" name="category_id" id="category_id"
                                        th:field="*{category_id}">
                                    <option th:each=" item : ${categories} " th:value="${item.id}"
                                            th:text="${item.name}"
                                            th:selected="${item.id == product.category_id}"></option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('category_id')}"
                                     th:errors="*{category_id}">Category_id Error
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="status" class="control-label">Tình trạng</label>
                                <select class="form-control" id="status" th:field="*{status}">
                                    <option
                                            th:each=" status : ${T(vn.techmaster.woodshop.entity.Status).values()}"
                                            th:value="${status}" th:text="${status.label}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Description</label>
                                <textarea class="form-control" type="text" th:field="*{description}"
                                          rows="5"> </textarea>
                                <div class="text-danger" th:if="${#fields.hasErrors('description')}"
                                     th:errors="*{description}">Image Error
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Ảnh</label>
                                <input class="form-control" type="file" name="imageMultipartFile" id="image">
                                <div class="text-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}">
                                    Image Error
                                </div>
                            </div>
                            <input class="form-control" type="hidden" th:field="*{image}">
                            <div id="thumbbox">
                                <img th:src="${product.image != null ? '/admin/products/product-photos/' + product.image : 'admin/images/noimage/jpg'}"
                                     height="200" width="250" alt="Image Preview" id="thumbnail"
                                />
                                <a class="removeimg" href="javascript:"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <button class="btn btn-save" type="submit">
                                    <span th:if="${product.isCheck}">Cập Nhật </span>
                                    <span th:unless="${product.isCheck}">Thêm Mới </span>
                                </button>
                                <a class="btn btn-cancel" th:href="@{/admin/products}">Hủy bỏ</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/admin/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/main.js}"></script>
<script>
    $(document).ready(function () {
        $('#image').change(function () {
            showImageThumbnail(this);
        })
    })

    function showImageThumbnail(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e) {
            $('#thumbnail').attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
    }
</script>
</body>

</html>