<!DOCTYPE html>
<html lang="en">
  <head th:replace="template_client.html :: header('Kích Hoạt Tài Khoản')"> </head>
  <body>
    <header th:insert="template_client.html :: topmenu"></header>


    <header th:insert="template_client.html :: topmenu"> </header>
    <div class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="top-text header-text">
                <h2>Active This Account Success</h2>

                  <a class="btn btn-primary" style="text-decoration: none" href="/api/v1/security/login">Login</a
                  >

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       
    <footer th:insert="template_client.html :: footer"> </footer>
  </body>
</html>
