<!DOCTYPE html>
<html lang="en">
    <head th:replace="template_admin.html :: header('Dach sách lịch thuê')">
    </head>
<body>
    <header th:insert="template_admin.html :: topmenu"> </header>
    <th:block th:if="${user.getRole().toString().equals('MEMBER') }" >
        <p>Bạn không có quyền xem trang này</p>
    </th:block>
    <div class="container">
        <table class="table table-striped table-bordered">
          <thead class="table-light">
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Mã đặt phòng</th>
              <th scope="col">Tên Khách Hàng</th>
              <th scope="col">Tên Nhà</th>
              <th scope="col">Check In</th>
              <th scope="col">Check Out</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="reverse, iStat:${reverses}">
              <th scope="row" th:text="${iStat.index} +1"></th>
              <td th:text="${reverse.id}"></td>
              <td th:text="${reverse.getUser().getFullname()}"></td>
              <td th:text="${reverse.getHouse().getName()}"></td>
              <td th:text="${reverse.checkin}"></td>
              <td th:text="${reverse.checkout}"></td>
            </tr>
          </tbody>
        </table>
      </div>
</body>
</html>