<!DOCTYPE html>
<html lang="en">
  <head th:replace="template.html :: header('Đổi Mật Khẩu ')">
    <body>
      <header th:insert="template.html :: topmenu"> </header>
          <form action="#" th:action="@{/api/v1/user/findbyid/updatepass}" method="post" name="updatePass" th:object="${updatePass}">
            <input type="hidden" id="id" class="form-control" th:field="*{id}"  />
              <label class="col-form-label">Mật khẩu cũ</label>
              <input type="password" id="old-password" class="form-control" th:field="*{oldPassword}"  />
              <div th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">
                Old Pass Error
                </div>
              <label class="col-form-label">Mật khẩu mới</label>
              <input type="password" id="new-password" class="form-control" th:field="*{newPassword}" />
              <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
                New Pass Error
                </div>
            <button type="submit">
              Xác nhận
            </button>
          </form>


</body>
</html>