<!DOCTYPE html>
<html lang="en">
    <head th:replace="template_client.html :: header('ERROR PAGE')">
    </head>
<body>
    <header th:insert="template_client.html :: topmenu"> </header>
    <div class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="top-text header-text">
                <div>
                    <h1>Error Page</h1>
                    <p th:text="${errors}"></p>
                  <a class="btn btn-primary" aria-current="page" href="/">Trang chủ</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
                  
               

      <footer th:insert="template_client.html :: footer"> </footer>

</body>
</html>