<!DOCTYPE html>
<html lang="en">
  <head th:replace="template_client.html :: header('List House')"></head>
<body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
  <header th:insert="template_client.html :: topmenu"> </header>
  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            <h6>Check Out Our Listings</h6>
            <h2>Item listings of Different Categories</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="listing-page">
    <div class="container">
      <div class="row">
          <div class="col-lg-12" >
            <div class="item">
              <div class="row" >
                <th:block th:if="${houses.size() == 0}">
                  <h6 class="col-lg-12" style="font-size: 30px; color: blue;" >
                    Không có nhà phù hợp yêu cầu!
                  </h6> <br><br>

                  <button class="col-lg-2"><a style="font-size: 20px; color: black;text-decoration: none;" href="/">Trang Chủ</a></button>
                </th:block>
                
                <div class="col-lg-12" th:each="house, iStat:${houses}" th:class="${iStat.odd}? 'odd'" >
                  <div class="listing-item">
                    <div class="left-image">
                      <div><a th:href="|/api/v1/house/${house.id}|"><img th:src="@{'/firstphotos/'+${house.logo_main}}" alt=""></a></div>
                      <div class="hover-content">
                        <div class="main-white-button">
                          <th:block th:if="${user == null}">
                          <a class="nav-link navbar-brand" aria-current="page" href="/api/v1/security/login" >Login</a>
                          </th:block>
                          <th:block th:if="${user != null}">
                          <a th:href="|/api/v1/reverse/newreverse/creat/${house.id}/${user.id}|"><i class="fa fa-eye"></i>Đặt Ngay</a>
                        </th:block>
                        </div>
                      </div>
                    </div>
                    <div class="right-content align-self-center">
                      <a th:href="|/api/v1/house/${house.id}|"><h4 th:text="${house.name}"></h4></a> <br>
                      <h3>Mô tả:</h3> <h6 class="description" th:text="${house.description}"></h6><br>
                      <h3>Giá 1 đêm:</h3> <h6 class="price" th:text="${house.price}+' VNĐ'"></h6><br>
                      <h3>Địa Chỉ:</h3> <h6 class="details" th:text="${house.address}"></h6><br>
                      <h3>Chất Lượng:</h3> <h6 class="info" th:if="${house.typeHouse.toString.equals('STAR3')}" ><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h6>
                      <h6 class="info" th:if="${house.typeHouse.toString.equals('STAR4')}" ><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h6>
                      <h6 class="info" th:if="${house.typeHouse.toString.equals('STAR5')}" ><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div  th:if="${totalPages > 1}">
          <div class="row col-lg-10">
              <div class="col-lg-2">
                  Total Rows: [[${totalItems}]]
              </div>
              <div class="col-lg-1">
                  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
    <a th:if="${currentPage != i}" th:href="@{'/api/v1/house/searchhouse/' + ${i}}+'?city='+${city}+'&price='+${price}+'&checkin='+${checkin}+'&checkout='+${checkout}">[[${i}]]</a>
    <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                  </span>
              </div>
              <div class="col-lg-1">
                  <a th:if="${currentPage < totalPages}" th:href="@{'/api/v1/house/searchhouse/'+${currentPage+1}+'?city='+${city}+'&price='+${price}+'&checkin='+${checkin}+'&checkout='+${checkout}}">Next</a>
                  <span th:unless="${currentPage < totalPages}">Next</span>
              </div>

              <div class="col-lg-1">
                  <a th:if="${currentPage < totalPages}" th:href="@{'/api/v1/house/searchhouse/'+${totalPages}+'?city='+${city}+'&price='+${price}+'&checkin='+${checkin}+'&checkout='+${checkout}}">Last</a>
                  <span th:unless="${currentPage < totalPages}">Last</span>
              </div>
          </div>
      </div>
      </div>
    </div> 
  </div> 
      <footer th:insert="template_client.html :: footer"> </footer>
      <script th:src="@{/newstyles/vendor/jquery/jquery.min.js}"></script>
      <script th:src="@{/newstyles/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
      <script th:src="@{/newstyles/assets/js/owl-carousel.js}"></script>
      <script th:src="@{/newstyles/assets/js/animation.js}"></script>
      <script th:src="@{/newstyles/assets/js/imagesloaded.js}"></script>
      <script th:src="@{/newstyles/assets/js/custom.js}"></script>
</body>
</html>