<!DOCTYPE html>
<html lang="en">
  <head th:replace="template_client.html :: header('List House')"></head>
<body>
   <!-- ***** Preloader Start ***** -->
   <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->
  <header th:insert="template_client.html :: topmenu"> </header>
  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            <h2>Chi Tiết Căn Nhà</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="listing-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12" >
          <div class="item">
            <div class="row" >
              <div class="col-lg-12">
                <div class="listing-item">
                  <div class="left-image" >
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      </div>
                      <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img th:src="@{'/firstphotos/'+${house.logo_sub_main1}}" style="width: 600px; height: 400px;" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                    <img th:src="@{'/firstphotos/'+${house.logo_sub_main2}}" style="width: 600px; height: 400px;" class="d-block w-100" alt="...">
                   </div>
                    <div class="carousel-item">
                    <img th:src="@{'/firstphotos/'+${house.logo_sub_main3}}" style="width: 600px; height: 400px;" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                  </div>
                  </div>
                  <div class="right-content align-self-center">
                    <a href="#"><h4 th:text="${house.name}"></h4></a> <br>
                    <h3>Mô tả:</h3> <h6 class="description" th:text="${house.description}"></h6><br>
                    <h3>Giá 1 đêm:</h3> <h6 class="price" th:text="${house.price}+' VNĐ'"></h6><br>
                    <h3>Địa chỉ:</h3> <h6 class="details" th:text="${house.address}"></h6><br>
                    <!-- <h3>Chất lượng:</h3> <h6 class="info" th:text="${house.typeHouse}"></h6><br> -->
                    <h3>Type:</h3> <h6 class="info" th:if="${house.typeHouse.toString.equals('STAR3')}" ><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h6>
                    <h6 class="info" th:if="${house.typeHouse.toString.equals('STAR4')}" ><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h6>
                    <h6 class="info" th:if="${house.typeHouse.toString.equals('STAR5')}" ><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h6>
                    --------------------------------------------------------- <br>
                    <h3>Tiện nghi:</h3>
                    <div class="re__pr-specs-content">
                      <div class="re__pr-specs-content-item">
                          <h6 class="re__pr-specs-content-item-value">Hotline 24/7</h6>
                      </div>
                      <div class="re__pr-specs-content-item">
                      <h6 class="re__pr-specs-content-item-value">Wi-Fi miễn phí trong tất cả các phòng!</h6>
                      </div>
                      <div class="re__pr-specs-content-item">
                          <h6 class="re__pr-specs-content-item-value">Nhận/trả phòng [nhanh]</h6>
                      </div>
                      <div class="re__pr-specs-content-item">
                          <h6 class="re__pr-specs-content-item-value">Dịch vụ đưa đón</h6>
                      </div>
                      <div class="re__pr-specs-content-item">
                          <h6 class="re__pr-specs-content-item-value">Không hút thuốc</h6>
                      </div>
                    </div><br><br>

                    <th:block th:if="${user != null && !user.getRole().toString().equals('ADMIN')}">
                      <button class="btn btn-primary"><a th:href="|/api/v1/reverse/newreverse/creat/${house.getId()}/${user.getId()}|" style="color: white;">Đặt Ngay</a></button>
                      </th:block>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
        </div>
      </div>
    </div>



     
<footer th:insert="template_client.html :: footer"> </footer>
<script th:src="@{/newstyles/vendor/jquery/jquery.min.js}"></script>
      <script th:src="@{/newstyles/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
      <script th:src="@{/newstyles/assets/js/owl-carousel.js}"></script>
      <script th:src="@{/newstyles/assets/js/animation.js}"></script>
      <script th:src="@{/newstyles/assets/js/imagesloaded.js}"></script>
      <script th:src="@{/newstyles/assets/js/custom.js}"></script>
</body>
</html>