<!DOCTYPE html>
<html lang="en">
    <head th:replace="template.html :: header('Reverse Information')">
<body>
    <header th:insert="template.html :: topmenu"> </header>
    <div class="alert alert-primary" id="alert" th:if="${error}" th:text="${error}"></div><br>
    <div class="container">
        <table class="table table-striped table-bordered">
          <thead class="table-light">
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Mã đặt phòng</th>
              <th scope="col">Tên Khách Hàng</th>
              <th scope="col">Tên Nhà</th>
              <th scope="col">Check In</th>
              <th scope="col">Check Out</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="reverse, iStat:${reverses}">
              <th scope="row" th:text="${iStat.index} +1"></th>
              <td th:text="${reverse.id}"></td>
              <td th:text="${reverse.getUser().getFullname()}"></td>
              <td th:text="${reverse.getHouse().getName()}"></td>
              <td th:text="${reverse.checkin}"></td>
              <td th:text="${reverse.checkout}"></td>
              <td><a th:href="|/api/v1/reverse/cancel-reverse/${reverse.id}|" class="btn btn-primary float-end">Hủy Phòng</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <script th:inline = "javascript">
        let message = document.getElementById("alert")
        setTimeout(function () {
          message.parentElement.removeChild(message)
        }, 1500)
    </script>
</body>
</html>