<!DOCTYPE html>
<html lang="en">

<head >
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Manager</title>
  <!-- Styles Global -->
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
  <!-- Bootstrap -->
  <link
          rel="stylesheet"
          type="text/css"
          th:href="@{/plugins/bootstrap/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css}"
  />
  <!-- Font-AWS -->
  <link
          rel="stylesheet"
          th:href="@{/plugins/fontawesome-free-6.1.1-web/css/all.min.css}"
  />
  <!-- OWL-Core-CSS -->
  <link
          rel="stylesheet"
          th:href="@{/plugins/owlcarousel/assets/owl.carousel.min.css}"
  />
  <link
          rel="stylesheet"
          th:href="@{plugins/owlcarousel/assets/owl.theme.default.min.css}"
  />
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">AdminPage</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/stories}">Quản Lý Truyện</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/categories}">Danh sách thể loại</a>
        </li>
      </ul>
      <form th:action="@{/admin/logout}" method="post">
        <input type="submit" value="Logout" />
      </form>
    </div>
  </div>
</nav>
<div class="container mt-3">
  <a th:href="@{/admin/categories/new}" style="margin: 20px 0" class="btn btn-primary">Thêm mới thể loại</a>
  <div><h1>Danh sách thể loại</h1></div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Tên thể loại</th>
      <th scope="col">Xóa</th>
      <th scope="col">Sửa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${listCategories}">
      <td th:text="${category.name}"></td>

      <td><a th:href="@{'/admin/categories/delete/' + ${category.id}}"
             class="btn btn-danger">Xóa</a></td>
      <td><a th:href="@{'/admin/categories/edit/' + ${category.id}}"
             class="btn btn-warning">Sửa</a></td>
    </tr>
    </tbody>
  </table>
</div>

<!-- JQUERY-3.6.0 -->
<script th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
<!-- Bootstrap -->
<script
        type="text/javascript"
        th:src="@{/plugins/bootstrap/bootstrap-5.2.0-beta1-dist/js/bootstrap.bundle.min.js}"
></script>
<!-- OWL-CORE-SCRIPT -->
<script th:src="@{/plugins/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/owl-custom.js}"></script>
</body>

</html>