<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Danh sách Tài Khoản | Quản trị Admin</title>

    <head>
        <title>Quản trị Admin</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Main CSS-->
        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/main.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <!-- or -->
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

        <!-- Font-icon css-->
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    </head>

<body class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="app-header">
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                    aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
        <!-- User Menu-->
        <li>
            <a class="app-nav__item" href="/index.html"><i class="bx bx-log-out bx-rotate-180"></i>
            </a>
        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user">
        <img class="app-sidebar__user-avatar" th:src="@{/admin/images/em.jpg}" width="50px" alt="User Image"/>
        <div>
            <p class="app-sidebar__user-name"><b>Admin</b></p>
            <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
        </div>
    </div>
    <hr/>
    <ul class="app-menu">
        <li>
            <a class="app-menu__item" href="table-data-table.html"><i class="app-menu__icon bx bx-id-card"></i>
                <span class="app-menu__label">Quản Lý Nhân Viên</span></a>
        </li>
        <li>
            <a class="app-menu__item" th:href="@{/user/list}"><i class="app-menu__icon bx bx-user-voice"></i>
                <span class="app-menu__label">Quản Lý Tài Khoản</span></a>
        </li>
        <li>
            <a class="app-menu__item" th:href="@{/product/list}">
                <i class="app-menu__icon bx bx-purchase-tag-alt"></i>
                <span class="app-menu__label">Quản Lý Sản Phẩm</span></a>
        </li>
        <li>
            <a class="app-menu__item" href="table-data-oder.html"><i class="app-menu__icon bx bx-task"></i><span
                    class="app-menu__label">Quản Lý Đơn Hàng</span></a>
        </li>
        <li>
            <a class="app-menu__item active" th:href="@{/category/list}"><i class="app-menu__icon bx bx-task"></i><span
                    class="app-menu__label">Quản Lý Danh Mục </span></a>
        </li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active">
                <a href="#"><b>Danh Sách Tài Khoản</b></a>
            </li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-sm-2">
                            <a class="btn btn-add btn-sm" th:href="@{/user/saveOrEdit}" title="Thêm"><i
                                    class="fas fa-plus"></i> Tạo Mới Tài Khoản  </a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i
                                    class="fas fa-trash-alt"></i> Xóa tất cả
                            </a>
                        </div>
                    </div>
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <form th:action="@{/user/search}" method="get">
                                    <div id="keyword" class="dataTables_filter">
                                        <label>
                                            <input type="text" name="name" class="form-control form-control-sm"
                                                   placeholder=""
                                                   aria-controls="sampleTable"/>
                                            <button class="btn btn-save" type="submit">Tìm Kiếm</button>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Pass</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user, iStat : ${users}">
                            <td th:text="${iStat.index} + 1"></td>
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.phone}"></td>
                            <td th:text="${user.password}"></td>
                            <td>
                                <a class="btn btn-primary btn-sm trash"
                                   th:href="@{'/user/delete/' + ${user.id}}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <a class="btn btn-primary btn-sm edit"
                                   th:href="@{'/user/edit/' + ${user.id}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Essential javascripts for application to work-->

<script th:src="@{/admin/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/admin/js/popper.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/main.js}"></script>

<script th:src="@{/admin/js/plugins/pace.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!--  <script type="text/javascript" th:src="@{/js/plugins/jquery.dataTables.min.js}"></script>-->
<script type="text/javascript" th:src="@{/admin/js/plugins/dataTables.bootstrap.min.js}"></script>
</body>

</html>