<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Danh sách Danh Mục | Quản trị Admin</title>

    <head>
        <title>Quản trị Admin</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Main CSS-->
        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/main.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <!-- or -->
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

        <!-- Font-icon css-->
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    </head>

<body class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="app-header">
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                    aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
        <!-- User Menu-->
        <li>
            <a class="app-nav__item" href="/index.html"><i class="bx bx-log-out bx-rotate-180"></i>
            </a>
        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user">
        <img class="app-sidebar__user-avatar" th:src="@{/admin/images/em.jpg}" width="50px" height="80px" alt="User Image"/>
        <div>
            <p class="app-sidebar__user-name"><b>Admin</b></p>
            <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
        </div>
    </div>
    <hr/>
    <ul class="app-menu">
        <li>
            <a class="app-menu__item" href="table-data-table.html"><i class="app-menu__icon bx bx-id-card"></i>
                <span class="app-menu__label">Quản Lý Nhân Viên</span></a>
        </li>
        <li>
            <a class="app-menu__item" href="#"><i class="app-menu__icon bx bx-user-voice"></i>
                <span class="app-menu__label">Quản Lý Khách Hàng</span></a>
        </li>
        <li>
            <a class="app-menu__item" th:href="@{/admin/products}">
                <i class="app-menu__icon bx bx-purchase-tag-alt"></i>
                <span class="app-menu__label">Quản Lý Sản Phẩm</span></a>
        </li>
        <li>
            <a class="app-menu__item" href="table-data-oder.html"><i class="app-menu__icon bx bx-task"></i><span
                    class="app-menu__label">Quản Lý Đơn Hàng</span></a>
        </li>
        <li>
            <a class="app-menu__item active" th:href="@{/admin/categories}"><i class="app-menu__icon bx bx-task"></i><span
                    class="app-menu__label">Quản Lý Danh Mục </span></a>
        </li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active">
                <a href="#"><b>Danh Sách Danh Mục</b></a>
            </li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-sm-2">
                            <a class="btn btn-add btn-sm" th:href="@{/admin/categories/saveOrEdit}" title="Thêm"><i
                                    class="fas fa-plus"></i> Tạo mới danh mục </a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i
                                    class="fas fa-trash-alt"></i> Xóa tất cả
                            </a>
                        </div>
                    </div>
                    <div th:if="${message != null}" class="alert alert-primary" role="alert">
                        <i th:text="${message}"></i>
                    </div>
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class=" col-12 col-sm-6 col-md-6">
                                <form action="">
                                    <div class="dataTables_length">
                                        <div class="form-inline">
                                            <label>Hiện
                                                <select name="size" id="size"
                                                        class="form-control form-control-sm ml-2 mr-2"
                                                        onchange="this.form.submit()">
                                                    <Option th:selected="${categoryPage.size == 10}" value="10">10
                                                    </Option>
                                                    <Option th:selected="${categoryPage.size == 25}" value="25">25
                                                    </Option>
                                                    <Option th:selected="${categoryPage.size == 50}" value="50">50
                                                    </Option>
                                                    <Option th:selected="${categoryPage.size == 75}" value="75">75
                                                    </Option>
                                                    <Option th:selected="${categoryPage.size == 100}" value="100">100
                                                    </Option>
                                                </select> danh mục</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6">
                                <form th:action="@{/admin/categories}" method="get">
                                    <div id="keyword" class="dataTables_filter">
                                        <label>
                                            <input type="text" name="name" class="form-control form-control-sm"
                                                   placeholder=""
                                                   aria-controls="sampleTable"/>
                                            <button class="btn btn-save" type="submit">Tìm Kiếm</button>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <table class="table table-hover table-bordered" id="sampleTable"
                           th:if="${categoryPage.hasContent()}">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Mã Danh Mục</th>
                            <th>Tên Danh Mục</th>
                            <th>Code</th>
                            <th>Trạng Thái</th>
                            <th>Chức Năng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category, iStat : ${categoryPage.content}">
                            <td th:text="${iStat.index} + 1"></td>
                            <td th:text="${category.id}"></td>
                            <td th:text="${category.name}"></td>
                            <td th:text="${category.code}"></td>
                            <td>
                                <th:block
                                        th:each="status : ${T(vn.techmaster.woodshop.entity.Status).values()}">
                                            <span class="badge"
                                                  th:class="${#strings.equals(category.status,'DANGBAN')} ? 'badge bg-success':'badge bg-danger'"
                                                  th:if="${status == category.status}" th:text="${status.label}">
                                            </span>
                                </th:block>
                            </td>
                            <td>
                                <a th:href="@{'/admin/categories/view/' + ${category.id}}"
                                   class="btn btn-outline-info btn-sm" type="button" title="Chi tiết">
                                    <i class="fas fa-info"></i>
                                </a>
                                <a th:href="@{'/admin/categories/edit/' + ${category.id}}"
                                   class="btn btn-outline-warning btn-sm" type="button" title="Chỉnh sửa">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a th:href="@{'/admin/categories/delete/' + ${category.id}}"
                                   class="btn btn-outline-danger btn-sm" type="button" title="Xóa">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example" th:if="${categoryPage.totalPages > 0}">
                    <ul class="pagination justify-content-end">
                        <li th:class="${1==categoryPage.number + 1} ? 'page-item active' : 'page-item'">
                            <a th:href="@{/admin/categories(name=${name}, size=${categoryPage.size}, page=${1})}"
                               class="page-link">Trước</a>
                        </li>
                        <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                            th:if="${categoryPage.totalPages > 1}"
                            th:class="${pageNumber==categoryPage.number + 1} ? 'page-item active' : 'page-item'">
                            <a th:href="@{/admin/categories(name=${name}, size=${categoryPage.size}, page=${pageNumber})}"
                               class="page-link" th:text="${pageNumber}">Trước</a>
                        </li>

                        <li
                                th:class="${categoryPage.totalPages==categoryPage.number + 1} ? 'page-item active' : 'page-item'">
                            <a th:href="@{/admin/categories(name=${name}, size=${categoryPage.size}, page=${categoryPage.totalPages})}"
                               class="page-link">Sau</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>

<!-- Essential javascripts for application to work-->

<script th:src="@{/admin/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/admin/js/popper.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/main.js}"></script>

<script th:src="@{/admin/js/plugins/pace.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!--  <script type="text/javascript" th:src="@{/js/plugins/jquery.dataTables.min.js}"></script>-->
<script type="text/javascript" th:src="@{/admin/js/plugins/dataTables.bootstrap.min.js}"></script>
</body>

</html>